Repository bricemciver/GreasemonkeyScripts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{ts,js,css,md,json}": "prettier --write"
}

Testing husky changes again
  .husky/pre-commit
  dist/amazon-add-to-goodreads/amazon-add-to-goodread.user.js
  dist/amazon-add-to-goodreads/amazon-add-to-goodread.user.js.map
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js.map
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js.map
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js.map
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js.map
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js.map
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js.map
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js.map
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js.map
Due: prettier --write

Comment out code in deprecated scripts
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js.map
  package-lock.json
  package.json
  src/amazon-smile-always/amazon-smile-always.user.js
  src/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.ts
  src/wme-drive-end-times/WME Drive End Times.user.js
Due: eslint --fix, prettier --write

Change tsconfig module to commonjs to try and remove export statement at EOF
  dist/amazon-add-to-goodreads/amazon-add-to-goodread.user.js
  dist/amazon-add-to-goodreads/amazon-add-to-goodread.user.js.map
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js.map
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js.map
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js.map
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js.map
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js.map
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js.map
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js.map
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js.map
  tsconfig.json
Due: prettier --write

Add icons for Amazon scripts
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js.map
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js.map
  src/main/amazon-add-to-goodreads/amazon-add-to-goodreads.user.ts
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
  src/main/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.ts
Due: eslint --fix, prettier --write

Switch from include to match and include Amazon TLD domains
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js.map
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  src/main/amazon-add-to-goodreads/amazon-add-to-goodreads.user.ts
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
Due: eslint --fix, prettier --write

Change generated format to UMD so it works in browser
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js.map
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/amazon-smile-always/amazon-smile-always.user.js
  dist/amazon-smile-always/amazon-smile-always.user.js.map
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js.map
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js.map
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js.map
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js.map
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js.map
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js.map
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js.map
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js.map
  dist/wme-drive-end-times/WME Drive End Times.user.js
  dist/wme-drive-end-times/WME Drive End Times.user.js.map
  package-lock.json
  package.json
  src/main/amazon-add-to-goodreads/amazon-add-to-goodreads.user.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Add paywall remover for SM Post
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js.map
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
Due: eslint --fix, prettier --write

Switch from include to match and include Amazon TLD domains
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js.map
  src/main/amazon-add-to-goodreads/amazon-add-to-goodreads.user.ts
Due: eslint --fix, prettier --write

Found a tsconfig that works
  README.md
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js.map
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/amazon-smile-always/amazon-smile-always.user.js
  dist/amazon-smile-always/amazon-smile-always.user.js.map
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js.map
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js.map
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js.map
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js.map
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js.map
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js.map
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js.map
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js.map
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js.map
  dist/wme-drive-end-times/WME Drive End Times.user.js
  dist/wme-drive-end-times/WME Drive End Times.user.js.map
  package.json
  src/main/amazon-add-to-goodreads/amazon-add-to-goodreads.user.ts
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
  src/main/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.ts
  src/main/breeze-sidebar-autosize/breeze-sidebar-autosize.user.ts
  src/main/ebay-seller-hider/ebay-seller-hider.user.ts
  src/main/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.ts
  src/main/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.ts
  src/main/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.ts
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
  src/main/wirecutter-anti-modal/wirecutter-anti-modal.user.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Update Amazon Goodreads Meta to work with current version of sites
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
Due: eslint --fix, prettier --write

Update eBay Seller filter to work with current eBay site
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  src/main/ebay-seller-hider/ebay-seller-hider.user.ts
Due: eslint --fix, prettier --write

Updated to work with current version of Kinja Deals
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  src/main/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.ts
Due: eslint --fix, prettier --write

Add new userscript for Wordle assistance
  .vscode/settings.json
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  src/main/wordle-mild-cheat/wordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

Add author tag to metadata
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  src/main/amazon-add-to-goodreads/amazon-add-to-goodreads.user.ts
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
  src/main/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.ts
  src/main/breeze-sidebar-autosize/breeze-sidebar-autosize.user.ts
  src/main/ebay-seller-hider/ebay-seller-hider.user.ts
  src/main/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.ts
  src/main/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.ts
  src/main/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.ts
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
  src/main/wirecutter-anti-modal/wirecutter-anti-modal.user.ts
  src/main/wordle-mild-cheat/wordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

Make changes to Ancestry script to use a better database
  .eslintrc.json
  .vscode/settings.json
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  package-lock.json
  package.json
  src/main/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.ts
  src/main/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.ts
  src/main/wordle-mild-cheat/wordle-mild-cheat.user.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: new userscript for Quordle
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js
  src/main/quordle-mild-cheat/quordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

feat: new userscript for Quordle (#3)
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js
  src/main/quordle-mild-cheat/quordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

Update quordle-mild-cheat.user.ts
  src/main/quordle-mild-cheat/quordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

Update quordle-mild-cheat.user.js
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js
Due: prettier --write

fix: update Wordle logic
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  src/main/wordle-mild-cheat/wordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

fix: Fix logic errors in Wordle
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  src/main/wordle-mild-cheat/wordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

fix: update to support current SMPost website
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
Due: eslint --fix, prettier --write

Update solver to omit words with multiple of the same letter when appropriate
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js
  src/main/quordle-mild-cheat/quordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

fix: update Wordle script to match updated Times site
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  src/main/wordle-mild-cheat/wordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

feat: Add Octordle Mild Cheat
  dist/octordle-mild-cheat/octordle-mild-cheat.user.js
  src/main/octordle-mild-cheat/octordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

feat: update Equip-Bid to highlight selected item and center on page
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  src/main/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.ts
Due: eslint --fix, prettier --write

Update selected styling for Equip Bid
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  src/main/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.ts
Due: eslint --fix, prettier --write

fix: update SMP script with new website
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
Due: eslint --fix, prettier --write

fix: Update to match new website syntax
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
Due: eslint --fix, prettier --write

chore: update for changes to site
  dist/equip-bid-redesign/equip-bid-redesign.user.js
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  src/main/equip-bid-redesign/equip-bid-redesign.user.ts
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
Due: eslint --fix, prettier --write

chore: update README.md
  README.md
Due: prettier --write

Create equip-bid-redesign.meta.json
  src/main/equip-bid-redesign/equip-bid-redesign.meta.json
Due: prettier --write

chore: Update husky
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  package.json
Due: prettier --write

chore: Add Github Action to build and remove husky/lintstaged
  .eslintrc.json
  .github/main.yml
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  dist/equip-bid-redesign/equip-bid-redesign.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  package.json
Due: prettier --write

chore: Move main.yml into workflows folder
  .github/workflows/main.yml
Due: none

chore: Remove old main.yml
  .github/main.yml
Due: none

chore: remove unneeded args from add-and-commit action
  .github/workflows/main.yml
Due: none
