Repository bricemciver/GreasemonkeyScripts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{ts,js,css,md,json}": "prettier --write"
}

Update biome config
  biome.json
  package.json
  src/main/minesweeper-online/minesweeper-online.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/minesweeper-online/minesweeper-online.user.js.map
Due: none

Update biomejs schema version
  biome.json
Due: prettier --write

New solver method for minesweeper
  src/main/minesweeper-online/minesweeper-online.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/minesweeper-online/minesweeper-online.user.js
  dist/minesweeper-online/minesweeper-online.user.js.map
  src/main/minesweeper-online/minesweeper-online.user.ts
Due: eslint --fix, prettier --write

Revert new solver
  src/main/minesweeper-online/minesweeper-online.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/minesweeper-online/minesweeper-online.user.js
  dist/minesweeper-online/minesweeper-online.user.js.map
Due: prettier --write

Add documentation to minesweeper
  dist/minesweeper-online/minesweeper-online.user.js
  dist/minesweeper-online/minesweeper-online.user.js.map
  src/main/minesweeper-online/minesweeper-online.user.ts
Due: eslint --fix, prettier --write

Update to support Firefox for mine solver
  src/main/minesweeper-solver-v2/minesweeper-solver-v2.meta.json
  src/main/minesweeper-solver-v2/minesweeper-solver-v2.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/minesweeper-solver-v2/minesweeper-solver-v2.user.js
  dist/minesweeper-solver-v2/minesweeper-solver-v2.user.js.map
Due: prettier --write

Add additional skins for mine solver
  dist/minesweeper-solver-v2/minesweeper-solver-v2.user.js
  dist/minesweeper-solver-v2/minesweeper-solver-v2.user.js.map
  src/main/minesweeper-solver-v2/minesweeper-solver-v2.user.ts
Due: eslint --fix, prettier --write

Add Gutenberg Send to Kindle script
  dist/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.js
  dist/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.js.map
  dist/lichess/lichess.user.js
  dist/lichess/lichess.user.js.map
  package-lock.json
  package.json
  src/main/gutenberg-send-to-kindle/gutenberg-send-to-kindle.meta.json
  src/main/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.ts
  src/main/lichess-show-common-move/lichess-show-common-move.meta.json
  src/main/lichess-show-common-move/lichess-show-common-move.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.js
  dist/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.js.map
  src/main/gutenberg-send-to-kindle/gutenberg-send-to-kindle.meta.json
  src/main/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.ts
Due: eslint --fix, prettier --write

Latest updateS
  dist/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.user.js
  dist/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.user.js.map
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/ancestry-premium-content-blocker/ancestry-premium-content-blocker.user.js
  dist/ancestry-premium-content-blocker/ancestry-premium-content-blocker.user.js.map
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js.map
  dist/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.js
  dist/lichess-opening-explorer/lichess-opening-explorer.user.js
  dist/lichess-opening-explorer/lichess-opening-explorer.user.js.map
  dist/minesweeper-online/minesweeper-online.user.js
  dist/minesweeper-online/minesweeper-online.user.js.map
  dist/minesweeper-solver-v2/minesweeper-solver-v2.user.js
  dist/minesweeper-solver-v2/minesweeper-solver-v2.user.js.map
  dist/simple-sponsor-skipper/simple-sponsor-skipper.user.js
  dist/simple-sponsor-skipper/simple-sponsor-skipper.user.js.map
  package-lock.json
  package.json
  src/main/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.meta.json
  src/main/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.user.ts
  src/main/ancestry-premium-content-blocker/ancestry-premium-content-blocker.meta.json
  src/main/ancestry-premium-content-blocker/ancestry-premium-content-blocker.user.ts
  src/main/equip-bid-redesign/equip-bid-redesign.meta.json
  src/main/equip-bid-redesign/equip-bid-redesign.user.ts
  src/main/equip-bid-restyle/equip-bid-restyle.meta.json
  src/main/equip-bid-restyle/equip-bid-restyle.user.ts
  src/main/lichess-opening-explorer/lichess-opening-explorer.meta.json
  src/main/lichess-opening-explorer/lichess-opening-explorer.user.ts
  src/main/minesweeper-online/minesweeper-online.meta.json
  src/main/minesweeper-online/minesweeper-online.user.ts
  src/main/minesweeper-solver-v2/minesweeper-solver-v2.meta.json
  src/main/minesweeper-solver-v2/minesweeper-solver-v2.user.ts
  src/main/simple-sponsor-skipper/simple-sponsor-skipper.meta.json
  src/main/simple-sponsor-skipper/simple-sponsor-skipper.user.ts
  src/scripts/create-headers.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Fix syntax error
  dist/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.js
  dist/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.js.map
  src/main/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.ts
Due: eslint --fix, prettier --write

Fix syntax errors
  biome.json
  dist/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.user.js
  dist/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.user.js.map
  src/main/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.user.ts
Due: eslint --fix, prettier --write

Skip new scripts for now
  src/main/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.user.ts.bak
  src/main/simple-sponsor-skipper/simple-sponsor-skipper.user.ts.bak
Due: none

chore: [skip-ci] format code and generate build artifacts
  dist/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.user.js
  dist/ancestry-premium-content-blocker/ancestry-premium-content-blocker.user.js
  dist/ancestry-premium-content-blocker/ancestry-premium-content-blocker.user.js.map
  dist/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.js
  dist/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.js.map
  dist/lichess-opening-explorer/lichess-opening-explorer.user.js
  dist/lichess-opening-explorer/lichess-opening-explorer.user.js.map
  dist/simple-sponsor-skipper/simple-sponsor-skipper.user.js
  src/main/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.meta.json
  src/main/ancestry-premium-content-blocker/ancestry-premium-content-blocker.meta.json
  src/main/ancestry-premium-content-blocker/ancestry-premium-content-blocker.user.ts
  src/main/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.ts
  src/main/lichess-opening-explorer/lichess-opening-explorer.user.ts
  src/main/simple-sponsor-skipper/simple-sponsor-skipper.meta.json
  src/scripts/create-headers.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Fix Sonarlint issues
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
Due: eslint --fix, prettier --write

Fix Sonarlint issues (#7)
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/simple-sponsor-skipper/simple-sponsor-skipper.user.js
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
Due: eslint --fix, prettier --write

chore: Add AGENTS.md file for agentic AI support
  AGENTS.md
Due: prettier --write

chore: Switch from biomeJS to oxlint/oxfmt
  .gitignore
  .oxfmtrc.json
  .oxlintrc.json
  AGENTS.md
  README.md
  biome.json
  package-lock.json
  package.json
  src/main/amazon-add-to-goodreads/amazon-add-to-goodreads.user.ts
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
  src/main/amazon-hide-sponsored/amazon-hide-sponsored.user.ts
  src/main/amazon-smile-always/LICENSE.md
  src/main/ancestry-premium-content-blocker/ancestry-premium-content-blocker.user.ts
  src/main/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.ts
  src/main/base64-auto-decoder/base64-auto-decoder.meta.json
  src/main/base64-auto-decoder/base64-auto-decoder.user.ts
  src/main/breeze-sidebar-autosize/breeze-sidebar-autosize.user.ts
  src/main/ebay-seller-hider/ebay-seller-hider.user.ts
  src/main/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.ts
  src/main/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.ts
  src/main/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.ts
  src/main/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.user.ts
  src/main/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.ts
  src/main/lichess-opening-explorer/lichess-opening-explorer.user.ts
  src/main/microcenter-sort-by-stock/microcenter-sort-by-stock.user.ts
  src/main/octordle-mild-cheat/octordle-mild-cheat.user.ts
  src/main/quordle-mild-cheat/quordle-mild-cheat.user.ts
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
  src/main/wirecutter-anti-modal/wirecutter-anti-modal.user.ts
  src/main/wordle-mild-cheat/wordle-mild-cheat.user.ts
  src/scripts/create-headers.ts
Due: eslint --fix, prettier --write

chore: Update AGENTS.md
  AGENTS.md
Due: prettier --write

chore: Add more specific AGENT instructions
  AGENTS.md
Due: prettier --write

fix: Update GHA
  .github/workflows/main.yml
Due: none

fix: Add frozen lockfile
  .github/workflows/main.yml
Due: none

fix: Forgot to add pnpm setup to GHA
  .github/workflows/main.yml
Due: none

chore: Update lockfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Additional fixes
  .github/workflows/main.yml
  .oxfmtrc.json
  .oxlintrc.json
  AGENTS.md
  oxfmt.config.ts
  oxlint.config.ts
  package.json
Due: eslint --fix, prettier --write

fix: Update pnpm setup GHA
  .github/workflows/main.yml
Due: none

fix: Fix some errors, remove broken script
  src/main/simple-sponsor-skipper/simple-sponsor-skipper.meta.json
  src/main/simple-sponsor-skipper/simple-sponsor-skipper.user.ts.bak
  src/scripts/create-headers.ts
Due: eslint --fix, prettier --write

chore: Deprecate some broken scripts
  src/main/kansas-city-star-anti-annoy/README.md
  src/main/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.user.ts
  src/main/shawnee-mission-post-paywall-remover/README.md
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
  src/main/wirecutter-anti-modal/README.md
  src/main/wirecutter-anti-modal/wirecutter-anti-modal.user.ts
  src/main/wordle-mild-cheat/README.md
  src/main/wordle-mild-cheat/wordle-mild-cheat.user.ts
  src/scripts/create-headers.ts
Due: eslint --fix, prettier --write

latest work
  LICENSE
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-hide-sponsored/amazon-hide-sponsored.user.js
  dist/amazon-smile-always/amazon-smile-always.user.js
  dist/ancestry-premium-content-blocker/ancestry-premium-content-blocker.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/base64-auto-decoder/base64-auto-decoder.user.js
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js
  dist/gutenberg-send-to-kindle/gutenberg-send-to-kindle.user.js
  dist/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/lichess-opening-explorer/lichess-opening-explorer.user.js
  dist/microcenter-sort-by-stock/microcenter-sort-by-stock.user.js
  dist/octordle-mild-cheat/octordle-mild-cheat.user.js
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wme-drive-end-times/WME Drive End Times.user.js
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  src/main/amazon-camelcamelcamel-keepa-price-charts/amazon-camelcamelcamel-keepa-price-charts.user.ts
  src/scripts/build-with-banners.ts
  src/scripts/create-headers.ts
Due: eslint --fix, prettier --write

fix: Fix GHA
  .github/workflows/main.yml
Due: none
