Repository bricemciver/GreasemonkeyScripts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{ts,js,css,md,json}": "prettier --write"
}

chore: Update lock
  .husky/_/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Move to standard monkeyscript build plugin (#10)
  .github/workflows/main.yml
  .husky/_/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/amazon-add-to-goodreads.user.js
  dist/amazon-camelcamelcamel-keepa-price-charts.user.js
  dist/amazon-goodreads-meta.user.js
  dist/amazon-hide-sponsored.user.js
  dist/ancestry-premium-content-blocker.user.js
  dist/ancestry-remove-paid-hints.user.js
  dist/base64-auto-decoder.user.js
  dist/breeze-sidebar-autosize.user.js
  dist/ebay-seller-hider.user.js
  dist/equip-bid-keyboard-navigation.user.js
  dist/facebook-hide-marketplace-deals.user.js
  dist/gutenberg-send-to-kindle.user.js
  dist/kansas-city-star-anti-annoy.user.js
  dist/kinja-deals-keyboard-navigation.user.js
  dist/lichess-opening-explorer.user.js
  dist/microcenter-sort-by-stock.user.js
  dist/octordle-mild-cheat.user.js
  dist/quordle-mild-cheat.user.js
  dist/shawnee-mission-post-paywall-remover.user.js
  dist/wirecutter-anti-modal.user.js
  dist/wordle-mild-cheat.user.js
Due: prettier --write

chore: Update add-and-commit plugin
  .github/workflows/main.yml
Due: none

chore: Update add-and-commit plugin (#11)
  .github/workflows/main.yml
Due: none

feat: Make releases instead of storing dist folder in git
  .github/workflows/main.yml
  .gitignore
  LICENSE
  dist/amazon-add-to-goodreads.user.js
  dist/amazon-camelcamelcamel-keepa-price-charts.user.js
  dist/amazon-goodreads-meta.user.js
  dist/amazon-hide-sponsored.user.js
  dist/ancestry-premium-content-blocker.user.js
  dist/ancestry-remove-paid-hints.user.js
  dist/base64-auto-decoder.user.js
  dist/breeze-sidebar-autosize.user.js
  dist/ebay-seller-hider.user.js
  dist/equip-bid-keyboard-navigation.user.js
  dist/facebook-hide-marketplace-deals.user.js
  dist/gutenberg-send-to-kindle.user.js
  dist/kansas-city-star-anti-annoy.user.js
  dist/kinja-deals-keyboard-navigation.user.js
  dist/lichess-opening-explorer.user.js
  dist/microcenter-sort-by-stock.user.js
  dist/octordle-mild-cheat.user.js
  dist/quordle-mild-cheat.user.js
  dist/shawnee-mission-post-paywall-remover.user.js
  dist/wirecutter-anti-modal.user.js
  dist/wordle-mild-cheat.user.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Make releases instead of storing dist folder in git (#12)
  .github/workflows/main.yml
  .gitignore
  LICENSE
  dist/amazon-add-to-goodreads.user.js
  dist/amazon-camelcamelcamel-keepa-price-charts.user.js
  dist/amazon-goodreads-meta.user.js
  dist/amazon-hide-sponsored.user.js
  dist/ancestry-premium-content-blocker.user.js
  dist/ancestry-remove-paid-hints.user.js
  dist/base64-auto-decoder.user.js
  dist/breeze-sidebar-autosize.user.js
  dist/ebay-seller-hider.user.js
  dist/equip-bid-keyboard-navigation.user.js
  dist/facebook-hide-marketplace-deals.user.js
  dist/gutenberg-send-to-kindle.user.js
  dist/kansas-city-star-anti-annoy.user.js
  dist/kinja-deals-keyboard-navigation.user.js
  dist/lichess-opening-explorer.user.js
  dist/microcenter-sort-by-stock.user.js
  dist/octordle-mild-cheat.user.js
  dist/quordle-mild-cheat.user.js
  dist/shawnee-mission-post-paywall-remover.user.js
  dist/wirecutter-anti-modal.user.js
  dist/wordle-mild-cheat.user.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Install dependencies before version check so node cleanup doesn't error
  .github/workflows/main.yml
Due: none

feat: Make releases instead of storing dist folder in git (#13)
  .github/workflows/main.yml
Due: none

chore: Bump version to 1.0.2
  package.json
Due: prettier --write

chore: Bump version to 1.0.2 (#14)
  package.json
Due: prettier --write

Delete src/plugins/shawnee-mission-post-paywall-remover directory
  src/plugins/shawnee-mission-post-paywall-remover/manifest.ts
  src/plugins/shawnee-mission-post-paywall-remover/userscript.ts
Due: eslint --fix, prettier --write

Delete src/plugins/kansas-city-star-anti-annoy directory
  src/plugins/kansas-city-star-anti-annoy/manifest.ts
  src/plugins/kansas-city-star-anti-annoy/userscript.ts
Due: eslint --fix, prettier --write

Delete src/plugins/kansas-city-star-anti-annoy directory (#16)
  src/plugins/kansas-city-star-anti-annoy/manifest.ts
  src/plugins/kansas-city-star-anti-annoy/userscript.ts
Due: eslint --fix, prettier --write

Delete src/plugins/shawnee-mission-post-paywall-remover directory (#15)
  src/plugins/shawnee-mission-post-paywall-remover/manifest.ts
  src/plugins/shawnee-mission-post-paywall-remover/userscript.ts
Due: eslint --fix, prettier --write

Delete src/plugins/wirecutter-anti-modal directory
  src/plugins/wirecutter-anti-modal/manifest.ts
  src/plugins/wirecutter-anti-modal/userscript.ts
Due: eslint --fix, prettier --write

Delete src/plugins/wirecutter-anti-modal directory (#17)
  src/plugins/wirecutter-anti-modal/manifest.ts
  src/plugins/wirecutter-anti-modal/userscript.ts
Due: eslint --fix, prettier --write

Delete src/plugins/kinja-deals-keyboard-navigation directory
  src/plugins/kinja-deals-keyboard-navigation/manifest.ts
  src/plugins/kinja-deals-keyboard-navigation/userscript.ts
Due: eslint --fix, prettier --write

Delete src/plugins/kinja-deals-keyboard-navigation directory (#18)
  src/plugins/kinja-deals-keyboard-navigation/manifest.ts
  src/plugins/kinja-deals-keyboard-navigation/userscript.ts
Due: eslint --fix, prettier --write

chore: Add support URL
  src/plugins/amazon-add-to-goodreads/manifest.ts
  src/plugins/amazon-camelcamelcamel-keepa-price-charts/manifest.ts
  src/plugins/amazon-goodreads-meta/manifest.ts
  src/plugins/amazon-hide-sponsored/manifest.ts
  src/plugins/ancestry-premium-content-blocker/manifest.ts
  src/plugins/ancestry-remove-paid-hints/manifest.ts
  src/plugins/breeze-sidebar-autosize/manifest.ts
  src/plugins/ebay-seller-hider/manifest.ts
  src/plugins/equip-bid-keyboard-navigation/manifest.ts
  src/plugins/facebook-hide-marketplace-deals/manifest.ts
  src/plugins/gutenberg-send-to-kindle/manifest.ts
  src/plugins/kansas-city-star-anti-annoy/manifest.ts
  src/plugins/kinja-deals-keyboard-navigation/manifest.ts
  src/plugins/kinja-deals-keyboard-navigation/userscript.ts
  src/plugins/lichess-opening-explorer/manifest.ts
  src/plugins/microcenter-sort-by-stock/manifest.ts
  src/plugins/octordle-mild-cheat/manifest.ts
  src/plugins/quordle-mild-cheat/manifest.ts
  src/plugins/shawnee-mission-post-paywall-remover/manifest.ts
  src/plugins/wirecutter-anti-modal/manifest.ts
  src/plugins/wordle-mild-cheat/manifest.ts
Due: eslint --fix, prettier --write

chore: Add READMEs to each script
  duplicate-code-report.md
  find-duplicate-code.ts
  src/common/storageUtils.ts
  src/plugins/amazon-add-to-goodreads/README.md
  src/plugins/amazon-camelcamelcamel-keepa-price-charts/README.md
  src/plugins/amazon-goodreads-meta/README.md
  src/plugins/amazon-hide-sponsored/README.md
  src/plugins/ancestry-premium-content-blocker/README.md
  src/plugins/ancestry-remove-paid-hints/README.md
  src/plugins/base64-auto-decoder/README.md
  src/plugins/breeze-sidebar-autosize/README.md
  src/plugins/ebay-seller-hider/README.md
  src/plugins/equip-bid-keyboard-navigation/README.md
  src/plugins/facebook-hide-marketplace-deals/README.md
  src/plugins/facebook-hide-marketplace-deals/userscript.ts
  src/plugins/gutenberg-send-to-kindle/README.md
  src/plugins/lichess-opening-explorer/README.md
  src/plugins/microcenter-sort-by-stock/README.md
  src/plugins/octordle-mild-cheat/README.md
  src/plugins/octordle-mild-cheat/userscript.ts
  src/plugins/quordle-mild-cheat/README.md
  src/plugins/quordle-mild-cheat/userscript.ts
  src/plugins/wordle-mild-cheat/README.md
  src/plugins/wordle-mild-cheat/userscript.ts
Due: eslint --fix, prettier --write

feat: New script for ThisIsWhyImBroke - fixing the dropdown menus
  .gitignore
  .vscode/settings.json
  package.json
  src/plugins/thisiswhyimbroke-menu-fix/README.md
  src/plugins/thisiswhyimbroke-menu-fix/manifest.ts
  src/plugins/thisiswhyimbroke-menu-fix/userscript.ts
Due: eslint --fix, prettier --write

chore: Bump version to 1.0.3
  .github/workflows/main.yml
  .vscode/settings.json
  README.md
Due: prettier --write

chore: Bump version to 1.0.3 (#20)
  .github/workflows/main.yml
  .vscode/settings.json
  README.md
Due: prettier --write

Update Node.js version and remove link
  README.md
Due: prettier --write

Update Node.js version and remove link (#21)
  README.md
Due: prettier --write

feat: add equip-bid auto-login userscript
  src/plugins/equip-bid-auto-login/README.md
  src/plugins/equip-bid-auto-login/manifest.ts
  src/plugins/equip-bid-auto-login/userscript.ts
Due: eslint --fix, prettier --write

chore: bump dev dependencies and pin tooling via mise
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add equip-bid auto-login userscript (#24)
  mise.toml
  package.json
  pnpm-lock.yaml
  src/plugins/equip-bid-auto-login/README.md
  src/plugins/equip-bid-auto-login/manifest.ts
  src/plugins/equip-bid-auto-login/userscript.ts
Due: eslint --fix, prettier --write

feat: list ThisIsWhyImBroke Menu Fix in README and bump to 1.0.4
  README.md
  package.json
Due: prettier --write

feat: list ThisIsWhyImBroke Menu Fix in README and bump to 1.0.4 (#26)
  README.md
  package.json
Due: prettier --write

feat: add equip-bid-enhancements userscript, retire standalone auto-login
  README.md
  src/plugins/equip-bid-auto-login/README.md
  src/plugins/equip-bid-auto-login/userscript.ts
  src/plugins/equip-bid-enhancements/README.md
  src/plugins/equip-bid-enhancements/manifest.ts
  src/plugins/equip-bid-enhancements/userscript.ts
Due: eslint --fix, prettier --write

feat(equip-bid): work on Watched Lots tab + per-auction watchlist summary
  README.md
  src/plugins/equip-bid-enhancements/README.md
  src/plugins/equip-bid-enhancements/userscript.ts
Due: eslint --fix, prettier --write

refactor(equip-bid): simplify enhancements + fix detail-fetch and connection edge cases
  src/plugins/equip-bid-enhancements/userscript.ts
Due: eslint --fix, prettier --write

fix(amazon-goodreads-meta): restore ratings on listing pages
  src/plugins/amazon-goodreads-meta/manifest.ts
  src/plugins/amazon-goodreads-meta/userscript.ts
Due: eslint --fix, prettier --write

fix(amazon-goodreads-meta): bottom-align badges across card rows
  src/plugins/amazon-goodreads-meta/userscript.ts
Due: eslint --fix, prettier --write

fix(amazon-goodreads-meta): debounce observer and cap fetch retries
  src/plugins/amazon-goodreads-meta/userscript.ts
Due: eslint --fix, prettier --write

refactor(amazon-goodreads-meta): drop redundant dedup layer
  src/plugins/amazon-goodreads-meta/userscript.ts
Due: eslint --fix, prettier --write

fix(amazon-goodreads-meta): restore Goodreads ratings on listing pages (#27)
  src/plugins/amazon-goodreads-meta/manifest.ts
  src/plugins/amazon-goodreads-meta/userscript.ts
Due: eslint --fix, prettier --write
