Repository bricemciver/GreasemonkeyScripts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{ts,js,css,md,json}": "prettier --write"
}

chore: [skip-ci] format code and generate build artifacts
  package-lock.json
Due: prettier --write

chore: Show focused element in Firefox
  src/main/equip-bid-redesign/equip-bid-redesign.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/equip-bid-redesign/equip-bid-redesign.user.js
  dist/equip-bid-redesign/equip-bid-redesign.user.js.map
Due: prettier --write

chore: build to es6 to limit warnings at OUJS
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js.map
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/amazon-smile-always/amazon-smile-always.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js.map
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js.map
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js.map
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js.map
  dist/equip-bid-redesign/equip-bid-redesign.user.js
  dist/equip-bid-redesign/equip-bid-redesign.user.js.map
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js.map
  dist/google-mail-default-to-all-mail/google-mail-default-to-all-mail.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js.map
  dist/octordle-mild-cheat/octordle-mild-cheat.user.js
  dist/octordle-mild-cheat/octordle-mild-cheat.user.js.map
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js.map
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js.map
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js.map
  dist/wme-drive-end-times/WME Drive End Times.user.js
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js.map
  package.json
  tsconfig.json
Due: prettier --write

chore: place userscripts inside IIFE to help with linting
  src/main/amazon-add-to-goodreads/amazon-add-to-goodreads.user.ts
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
  src/main/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.ts
  src/main/breeze-sidebar-autosize/breeze-sidebar-autosize.user.ts
  src/main/ebay-seller-hider/ebay-seller-hider.user.ts
  src/main/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.ts
  src/main/equip-bid-redesign/equip-bid-redesign.user.ts
  src/main/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.ts
  src/main/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.ts
  src/main/octordle-mild-cheat/octordle-mild-cheat.meta.json
  src/main/octordle-mild-cheat/octordle-mild-cheat.user.ts
  src/main/quordle-mild-cheat/quordle-mild-cheat.user.ts
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
  src/main/wirecutter-anti-modal/wirecutter-anti-modal.user.ts
  src/main/wordle-mild-cheat/wordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

feat: New script to hide Amazon sponsored results
  src/main/amazon-hide-sponsored/amazon-hide-sponsored.meta.json
  src/main/amazon-hide-sponsored/amazon-hide-sponsored.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js.map
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/amazon-hide-sponsored/amazon-hide-sponsored.user.js
  dist/amazon-hide-sponsored/amazon-hide-sponsored.user.js.map
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js.map
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js
  dist/breeze-sidebar-autosize/breeze-sidebar-autosize.user.js.map
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js.map
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js
  dist/equip-bid-keyboard-navigation/equip-bid-keyboard-navigation.user.js.map
  dist/equip-bid-redesign/equip-bid-redesign.user.js
  dist/equip-bid-redesign/equip-bid-redesign.user.js.map
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js.map
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js.map
  dist/octordle-mild-cheat/octordle-mild-cheat.user.js
  dist/octordle-mild-cheat/octordle-mild-cheat.user.js.map
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js.map
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js.map
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js.map
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js.map
  src/main/amazon-hide-sponsored/amazon-hide-sponsored.meta.json
Due: prettier --write

fix: Hide additional entries with data-asin but no value
  src/main/amazon-hide-sponsored/amazon-hide-sponsored.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/amazon-hide-sponsored/amazon-hide-sponsored.user.js
  dist/amazon-hide-sponsored/amazon-hide-sponsored.user.js.map
Due: prettier --write

chore: run publish action on push to main
  .github/workflows/main.yml
Due: none

chore: [skip-ci] format code and generate build artifacts
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js.map
  dist/amazon-hide-sponsored/amazon-hide-sponsored.user.js.map
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js.map
  src/main/amazon-add-to-goodreads/amazon-add-to-goodreads.user.ts
  src/main/amazon-hide-sponsored/amazon-hide-sponsored.user.ts
  src/main/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.ts
  src/main/microcenter-sort-by-stock/microcenter-sort-by-stock.meta.json
Due: eslint --fix, prettier --write

chore: update license to be accepted by OpenUserJS
  src/main/microcenter-sort-by-stock/microcenter-sort-by-stock.meta.json
Due: prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/microcenter-sort-by-stock/microcenter-sort-by-stock.user.js
  src/main/microcenter-sort-by-stock/microcenter-sort-by-stock.meta.json
Due: prettier --write

feat: Anti-annoy script for kansascity.com
  src/main/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.meta.json
  src/main/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.user.js
  dist/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.user.js.map
  src/main/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.meta.json
  src/main/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.user.ts
Due: eslint --fix, prettier --write

chore: Update dependencies
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

chore: Fix lint error
  src/scripts/create-headers.ts
Due: eslint --fix, prettier --write

chore: Formatting for new script
  .eslintignore
Due: none

chore: Run build and include dist
  dist/equip-bid-redesign/equip-bid-redesign.user.js
  dist/equip-bid-redesign/equip-bid-redesign.user.js.map
  dist/octordle-mild-cheat/octordle-mild-cheat.user.js
  dist/octordle-mild-cheat/octordle-mild-cheat.user.js.map
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js.map
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js.map
Due: prettier --write

chore: Add glob to dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: Update scripts to use glob properly
  src/scripts/create-headers.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  src/scripts/create-headers.ts
Due: eslint --fix, prettier --write

latest changes
  dist/equip-bid-restyle/equip-bid-restyle.user.js
  dist/equip-bid-restyle/equip-bid-restyle.user.js.map
  dist/lichess-show-common-move/lichess-show-common-move.user.js
  dist/lichess-show-common-move/lichess-show-common-move.user.js.map
  package-lock.json
  package.json
  src/main/equip-bid-restyle/equip-bid-restyle.meta.json
  src/main/equip-bid-restyle/equip-bid-restyle.user.ts
  src/main/lichess-show-common-move/lichess-show-common-move.meta.json
  src/main/lichess-show-common-move/lichess-show-common-move.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/lichess-show-common-move/lichess-show-common-move.user.js.map
  src/main/lichess-show-common-move/lichess-show-common-move.meta.json
  src/main/lichess-show-common-move/lichess-show-common-move.user.ts
Due: eslint --fix, prettier --write

Latest lichess
  dist/lichess-show-common-move/lichess-show-common-move.user.js
  dist/lichess-show-common-move/lichess-show-common-move.user.js.map
Due: prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/lichess-show-common-move/lichess-show-common-move.user.js
  dist/lichess-show-common-move/lichess-show-common-move.user.js.map
Due: prettier --write

Add watchlist click to Equip Bid script
  dist/equip-bid-restyle/equip-bid-restyle.user.js
  dist/equip-bid-restyle/equip-bid-restyle.user.js.map
  src/main/equip-bid-restyle/equip-bid-restyle.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/equip-bid-restyle/equip-bid-restyle.user.js
  dist/equip-bid-restyle/equip-bid-restyle.user.js.map
  src/main/equip-bid-restyle/equip-bid-restyle.user.ts
Due: eslint --fix, prettier --write

chore: Latest updates
  .github/workflows/main.yml
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/lichess-show-common-move/lichess-show-common-move.user.js
  dist/lichess-show-common-move/lichess-show-common-move.user.js.map
  package-lock.json
  package.json
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
  src/scripts/create-headers.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: Update README and LICENSE
  LICENSE
  README.md
  src/main/amazon-hide-sponsored/amazon-hide-sponsored.user.ts
Due: eslint --fix, prettier --write

chore: Update lockfile
  package-lock.json
Due: prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/amazon-hide-sponsored/amazon-hide-sponsored.user.js
  dist/amazon-hide-sponsored/amazon-hide-sponsored.user.js.map
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/equip-bid-restyle/equip-bid-restyle.user.js
  dist/lichess-show-common-move/lichess-show-common-move.user.js
  dist/wme-drive-end-times/WME Drive End Times.user.js
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: Add default sorting to Equip-Bid
  dist/equip-bid-restyle/equip-bid-restyle.user.js
  dist/equip-bid-restyle/equip-bid-restyle.user.js.map
  src/main/equip-bid-restyle/equip-bid-restyle.user.ts
Due: eslint --fix, prettier --write

chore: Fixes suggested by biome
  src/main/amazon-add-to-goodreads/amazon-add-to-goodreads.user.ts
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
  src/main/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.ts
  src/main/ebay-seller-hider/ebay-seller-hider.user.ts
  src/main/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.ts
  src/main/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.user.ts
  src/main/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.ts
  src/main/lichess-show-common-move/lichess-show-common-move.user.ts
  src/main/microcenter-sort-by-stock/microcenter-sort-by-stock.user.ts
  src/main/octordle-mild-cheat/octordle-mild-cheat.user.ts
  src/main/quordle-mild-cheat/quordle-mild-cheat.user.ts
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
  src/main/wirecutter-anti-modal/wirecutter-anti-modal.user.ts
  src/main/wordle-mild-cheat/wordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js
  dist/amazon-add-to-goodreads/amazon-add-to-goodreads.user.js.map
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js
  dist/amazon-goodreads-meta/amazon-goodreads-meta.user.js.map
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js
  dist/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.js.map
  dist/ebay-seller-hider/ebay-seller-hider.user.js
  dist/ebay-seller-hider/ebay-seller-hider.user.js.map
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js
  dist/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.js.map
  dist/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.user.js
  dist/kansas-city-star-anti-annoy/kansas-city-star-anti-annoy.user.js.map
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js
  dist/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.js.map
  dist/lichess-show-common-move/lichess-show-common-move.user.js
  dist/lichess-show-common-move/lichess-show-common-move.user.js.map
  dist/microcenter-sort-by-stock/microcenter-sort-by-stock.user.js
  dist/microcenter-sort-by-stock/microcenter-sort-by-stock.user.js.map
  dist/octordle-mild-cheat/octordle-mild-cheat.user.js
  dist/octordle-mild-cheat/octordle-mild-cheat.user.js.map
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js
  dist/quordle-mild-cheat/quordle-mild-cheat.user.js.map
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js
  dist/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.js.map
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js
  dist/wirecutter-anti-modal/wirecutter-anti-modal.user.js.map
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js
  dist/wordle-mild-cheat/wordle-mild-cheat.user.js.map
  src/main/amazon-goodreads-meta/amazon-goodreads-meta.user.ts
  src/main/ancestry-remove-paid-hints/ancestry-remove-paid-hints.user.ts
  src/main/ebay-seller-hider/ebay-seller-hider.user.ts
  src/main/facebook-hide-marketplace-deals/facebook-hide-marketplace-deals.user.ts
  src/main/kinja-deals-keyboard-navigation/kinja-deals-keyboard-navigation.user.ts
  src/main/lichess-show-common-move/lichess-show-common-move.user.ts
  src/main/microcenter-sort-by-stock/microcenter-sort-by-stock.user.ts
  src/main/octordle-mild-cheat/octordle-mild-cheat.user.ts
  src/main/quordle-mild-cheat/quordle-mild-cheat.user.ts
  src/main/shawnee-mission-post-paywall-remover/shawnee-mission-post-paywall-remover.user.ts
  src/main/wirecutter-anti-modal/wirecutter-anti-modal.user.ts
  src/main/wordle-mild-cheat/wordle-mild-cheat.user.ts
Due: eslint --fix, prettier --write

Latest changes
  dist/minesweeper-online/minesweeper-online.user.js
  dist/minesweeper-online/minesweeper-online.user.js.map
  src/main/minesweeper-online/minesweeper-online.meta.json
  src/main/minesweeper-online/minesweeper-online.user.ts
Due: eslint --fix, prettier --write

chore: [skip-ci] format code and generate build artifacts
  dist/minesweeper-online/minesweeper-online.user.js
  dist/minesweeper-online/minesweeper-online.user.js.map
  src/main/minesweeper-online/minesweeper-online.user.ts
Due: eslint --fix, prettier --write
